body{
  margin:0;

}
/*
block level element
*/

#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#article{
  padding-left: 85px;
}
#grid ol{
    border-right: 1px solid gray;
    width:150px;
    margin:1px;
    padding:33px;
  }


h1 {
  border-bottom:1px solid black;
  display:block;
  padding:50px;
  margin:0;
  color:black;
  font-size:45px;
  text-align: center;
}

h2 {
  font-size:35px;
  text-align: center;
}
/*
inline element
*/
  a {
    
    text-decoration: none;
  }
  /*
2. html 마다 수정을 해줘야하나??..다른 링크의 게시물로 이동하는 방법은 ?
  */
  @media(max-width:800px){
    #grid{
      display: block;
    }
    #grid ol{
        border-right: none;
      }
    h1{
      border-bottom: none;
    }
  }
